<div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Nuevo Cliente</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <span class="bagde badge-danger" *ngIf="submited && createCustomer.invalid">Los campos son obligatorios</span>
        <form [formGroup]="createCustomer" (ngSubmit)="agregarCustomer()">
          <div class="card-body">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Nombre"
                formControlName="nombre"
              />
            </div>           
          </div>
          <!-- /.card-body -->
  
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  